<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Genero</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{persona.id}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido}}</td>  
      <td>{{persona.direccion}}</td>
      <td>{{persona.genero}}</td>
      <td>{{persona.correo}}</td>
      <td>{{persona.telefono}}</td>
      <td><button type="button" class="btn btn-danger" (click)="eliminarPersona(persona.id)">X</button></td>
    </tr>
  </tbody>
</table>