<nav  style="height: 100%; background-image: url(../../../assets/images/Fondo2.jpg); " id="sidebar">
      
    <div  class="p-4 pt-5">

      <a routerlink href="/inicio" class="img logo rounded-circle mb-5"><img style="width: 110px; height: 107px; border-radius: 19px!important;" src="/assets/images/logo1.png"></a>
      <ul class="list-unstyled components mb-5">
        <li class="active">
        
        </li>
        <li>
          <a [routerLink]="['/dashboard-cliente/perfil']"  routerLinkActive="active" >Editar perfil</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard-cliente/productos']"  routerLinkActive="active" >Productos</a>
        </li>

        
      </ul>
    </div>
  </nav>
  