<div>
    <div class="container ">
        <div class="Formulario ">
            <div action="#" class="border p-4 form text-center ImagenBG">
                <div class="form-group">
                    <input (change)="subirImagen($event)" type="file" name="archivo" class="d-none" #input>
                    <img (click)="input.click()" style="width: 292px; height: 150px; border-radius:14%"
                        src="../../../assets/images/perfil.png">

                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="form-group">
                                <label for="validationCustom01" class="form-label" for="Nombre">Nombre</label>
                                <input [(ngModel)]="persona.nombre" type="text" 
                                    class="form-control" requiered>
                            </div>
                            <div class="form-group">
                                <label for="Nombre">Apellido</label>
                                <input [(ngModel)]="persona.apellido" type="text"
                                    class="form-control" requiered>
                            </div>
                            <div class="form-group">
                                <label for="Telefono">Teléfono</label>
                                <input [(ngModel)]="persona.telefono" type="number" 
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="Telefono">Direccion</label>
                                <input [(ngModel)]="persona.direccion" type="text" 
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--Agregar la funcion de confirmar contraseña-->

                            <div class="form-group">
                                <label for="password">Genero</label>
                                <select [(ngModel)]="persona.genero" class="form-group form-control">
                                    <option >Elegir</option>
                                    <option value="M" >Hombre</option>
                                    <option value="F" >Mujer</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="password">Correo</label>
                                <input [(ngModel)]="persona.correo" type="email" 
                                    class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="border-top mt-1">
                        <p></p>
                    </div>

                    <button type="button" class="btn btn-primary margen">Editar</button>
                    <button type="reset" (click)="actualizar()" class="btn btn-primary">Actualizar</button> <br>
                </div>
            </div>
        </div>
    </div>
</div>