<!-- header section start -->
<div class="header_section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-3">
				<div class="logo">
					<a routerlink href="/inicio"><img src="/assets/images/logo.png"></a>
				</div>
			</div>
			<div class="col-sm-6">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link" routerLink="/inicio">INICIO</a>
							<a class="nav-item nav-link" routerLink="/dashboard-cliente">PERFIL</a>
							<a class="nav-item nav-link" routerLink="/login-usuario">INICIAR SESION</a>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="search_main">
					<button style="border-radius: 10px; margin-left: 222px; padding-right: 26px;
					margin-top: 62px;" class="submit_bt"><a routerLink="/crear-usuario"><span
								class="doctor"></span>Registrarse</a></button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header section end -->
<!-- banner section start -->
<div class="layout_padding banner_section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="banner_taital">Todo lo que necesitas esta aqui y mucho mas</h1>
				<p class="browse_text"> </p>

			</div>
		</div>
	</div>
</div>
<!-- banner section end -->
<!-- search box start -->
<div class="container">
	<div class="search_box">
		<div>
			<h1>Buqueda Personalizada</h1>

		</div>

		<div class="row">

			<div class="col-sm-3">
				<div class="form-group">
					<select [(ngModel)]="idDepartamento" class="btn email_boton" aria-label="Default select example">
						<option value="0" selected>Departamento</option>
						<option *ngFor="let item of departamentos" value="{{ item.id }}"> {{ item.nombre }} </option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<select [(ngModel)]="idCategoria" (change)="obtenerProductosCategorias()" class="btn email_boton"
						aria-label="Default select example">
						<option value="0" selected>Seleccione categoria</option>
						<option *ngFor="let item of categorias" value="{{item.id}}">{{item.nombre}}</option>
					</select>
				</div>
			</div>


			<div class="fashion_menu">
			</div>
		</div>
	</div>
	<!-- search box end -->
	<!-- section PROMOTED start -->
	<div class=" layout_padding promoted_sectipon">
		<div class="container">
			<h1 class="promoted_text">Productos<span style="border-bottom: 5px solid #4bc714;"></span></h1>
			<div class="images_main">
				<h3 *ngIf="productosDepartamentoCategoria.length==0">No hay resultados</h3>

				<h2 *ngIf="productosDepartamentoCategoria.length!=0"> {{ filtro }} </h2>

				<div class="row">
					<div *ngFor="let item of productosDepartamentoCategoria" class="col-sm-6 col-md-6 col-lg-3">
						<div class="images"><img src="{{ item.producto.imagen}}" style="width: 100%;"></div>
						<button class="promoted_bt">{{ item.producto.nombre }}</button>
						<button class="mobile_bt"><a href="#">Contactar vendedor</a></button>
					</div>

				</div>

			</div>
			<div class="images_main d-none">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div><img src="images/img-1.png" style="width: 100%;"></div>
						<button class="promoted_bt">PROMOTED</button>
						<div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img
									src="images/like-icon.png"></span></div>
						<div class="numbar_text">30<span class="like-icon">01</span></div>
						<button class="mobile_bt"><a href="#">Mobiles</a></button>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div><img src="images/img-2.png" style="width: 100%;"></div>
						<button class="promoted_bt">PROMOTED</button>
						<div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img
									src="images/like-icon.png"></span></div>
						<div class="numbar_text">30<span class="like-icon">01</span></div>
						<button class="mobile_bt"><a href="#">Cyicals</a></button>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div><img src="images/img-3.png" style="width: 100%;"></div>
						<button class="promoted_bt">PROMOTED</button>
						<div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img
									src="images/like-icon.png"></span></div>
						<div class="numbar_text">30<span class="like-icon">01</span></div>
						<button class="mobile_bt"><a href="#">Cars</a></button>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div><img src="images/img-4.png" style="width: 100%;"></div>
						<button class="promoted_bt">PROMOTED</button>
						<div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img
									src="images/like-icon.png"></span></div>
						<div class="numbar_text">30<span class="like-icon">01</span></div>
						<button class="mobile_bt"><a href="#">Laptops</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- SEGUNDO FILTRADO -->

	<div class="container">
		<div class="search_box" style="top: 40px!important;">
			<div>
				<h1>Buqueda Personalizada</h1>

			</div>

			<div class="row">

				<div class="col-sm-3">
					<div class="form-group">

						<input [(ngModel)]="fecha" type="date" class="form-control">

					</div>
				</div>
				<div class="col-sm-3">
					<div class="input-group mb-3">
						<span class="input-group-text">$</span>
						<span class="input-group-text">Min</span>
						<input [(ngModel)]="precioMin" type="number" class="form-control"
							aria-label="Dollar amount (with dot and two decimal places)">
					</div>

					<div class="input-group">
						<input [(ngModel)]="precioMax" type="number" class="form-control"
							aria-label="Dollar amount (with dot and two decimal places)">
						<span class="input-group-text">$</span>
						<span class="input-group-text">Max</span>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<select (change)="obtnerProductoPrecio()" [(ngModel)]="idCalificacion" class="btn email_boton"
							aria-label="Default select example">
							<option value="0" selected>Calificacion del vendedor</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>


				<div class="fashion_menu">
				</div>
			</div>
		</div>
		<!-- search box end -->
		<!-- section PROMOTED start -->
		<div class=" layout_padding promoted_sectipon ">
			<div class="container">
				<h1 class="promoted_text">Productos<span style="border-bottom: 5px solid #4bc714;"></span></h1>
				<div class="images_main">
					<h3 *ngIf="productosPrecioFechaCalificacion.length==0">No hay resultados</h3>

					<h2 *ngIf="productosPrecioFechaCalificacion.length>0"> {{ filtro }} </h2>
					<div class="row">
						<div *ngFor="let item of productosPrecioFechaCalificacion" class="col-sm-6 col-md-6 col-lg-3">
							<div class="images"><img src="{{ item.producto.imagen}}" style="width: 100%;"></div>
							<button class="promoted_bt">{{ item.producto.nombre }}</button>
							<a [routerLink]="['/perfil-vendedor', item.userId]">Contactar vendedor</a>
						</div>

					</div>
				</div>

			</div>
		</div>




		<!-- section PROMOTED end -->
		<!-- section POPULAR STORES start -->
		<div class="layout_padding popular_section">
			<div class="container">
				<h1 style="text-align: center;" class="popular_taital">Recomendados</h1>
				<div id="main_slider" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="popular_section_2">
								<div class="slider_img"><img src="../../assets/images/3.jpg" style="max-width: 100%;">
								</div>
								<h2 class="electronic_text">Mejores Ofertas</h2>

							</div>
						</div>
						<div class="carousel-item">
							<div class="popular_section_2">
								<div class="slider_img"><img src="../../assets/images/1.jpg" style="max-width: 100%;">
								</div>
								<h2 class="electronic_text">Tienda de Ropa</h2>


							</div>
						</div>
						<div class="carousel-item">
							<div class="popular_section_2">
								<div class="slider_img"><img src="../../assets/images/2.jpg" style="max-width: 100%;">
								</div>
								<h2 class="electronic_text">Tienda Electronica</h2>


							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
						<i class="fa fa-angle-right"></i>
					</a>

				</div>
			</div>
		</div>

	</div>


</div>

<footer  class="container py-5">
	<div  class="row">
	  <div class="col-12 col-md">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
		<small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
	  </div>
	  <div class="col-6 col-md">
		<h5>Tiendas</h5>
		
	  </div>
	  <div class="col-6 col-md">
		<h5>Ofertas</h5>
		
	  </div>
	  <div class="col-6 col-md">
		<h5>Servicios</h5>
		
	  </div>
	 
	</div>
  </footer>